* {
  -fx-control-height: 30px;
}

.root {
  -fx-font-family: 'Microsoft YaHei UI', 'Segoe UI Emoji';
  -fx-font-size: 12px;
}

.tab-pane {
  -fx-pref-height: 525;
  -fx-pref-width: 500;
}

.tab-pane .tab .tab-label {
  -fx-alignment: center;
}

.tab-label {
  -fx-font-size: 14px;
  -fx-font-weight: 700;
}

GridPane {
  /* debug */
  /* -fx-grid-lines-visible: true;*/
}

.label {
  -fx-alignment: center-right;
  -fx-min-width: 65;
}

.button, .lite-button {
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-content-display: center;
  -fx-graphic-text-gap: 20;
  -fx-pref-height: -fx-control-height;
  -fx-pref-width: 70;
  -fx-text-alignment: center;
}

.hide-show.toggle-button {
  -fx-background-color: transparent;
  -fx-background-image: url('image/eye.png');
  -fx-background-position: center;
  -fx-background-repeat: no-repeat;
}

.hide-show.toggle-button:selected {
  -fx-background-image: url('image/eye-close.png');
}

.choice-box {
  -fx-padding: 0 8 0 12;
}

.choice-box > .open-button {
  -fx-padding: 0 2 0 8;
}

.choice-box .label {
  -fx-alignment: center-left;
  -fx-font-size: 13px;
  -fx-font-weight: bold;
}

.choice-box > .label {
  -fx-padding: 0;
}

.choice-box, .console-text-field, .console-password-field {
  -fx-pref-height: -fx-control-height;
}

.list-view .list-cell {
  -fx-padding: 8 12 8 12;
  -fx-pref-height: -fx-control-height;
}

.list-view .list-cell:selected {
  -fx-font-weight: 700;
}

.list-view .scroll-bar:horizontal .track, .list-view .scroll-bar:vertical .track {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-border-color: transparent;
  -fx-border-radius: 2em;
}

.list-view .scroll-bar:horizontal .increment-button, .list-view .scroll-bar:horizontal .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-padding: 0 0 10;
}

.list-view .scroll-bar:vertical .increment-button, .list-view .scroll-bar:vertical .decrement-button {
  -fx-background-color: transparent;
  -fx-background-radius: 0;
  -fx-padding: 0 10 0 0;
}

.list-view .scroll-bar .increment-arrow, .list-view .scroll-bar .decrement-arrow {
  -fx-padding: 0;
  -fx-shape: ' ';
}

.list-view .scroll-bar:horizontal .thumb, .list-view .scroll-bar:vertical .thumb {
  -fx-background-color: derive(#000, 90%);
  -fx-background-insets: 2, 0, 0;
  -fx-background-radius: 2em;
}

.console-text-field:invalid, .console-password-field:invalid {
  -fx-border-color: #d93025;
  -fx-focus-color: #d93025;
  -fx-faint-focus-color: #d9302522;
}

.text-input-validation:invalid {
  -fx-faint-focus-color: #d93025;
}

.text-input-validation-label {
  -fx-text-fill: #d93025;
  -fx-font-size: 10px;
  -fx-padding: 1 0 0 2;
}

.text-area {
  -fx-background-color: transparent, #fff, transparent, #fff;
  -fx-background-insets: 0;
  -fx-font-family: 'Consolas';
  -fx-font-size: 13px;
  -fx-font-weight: 800;
  -fx-highlight-fill: #0f0;
  -fx-highlight-text-fill: #000;
  -fx-text-fill: #0f0;
}

.text-area:focused {
  -fx-background-color: transparent, #fff, transparent, #fff;
}

.text-area .content {
  -fx-background-color: #000;
}

.chart {
  -fx-max-height: 250;
  -fx-min-height: 250;
  -fx-pref-height: 250;
}

.chart-legend {
  -fx-background-color: transparent;
}

.chart-legend-item-symbol {
  -fx-background-radius: 0;
}

.chart-plot-background {
  -fx-background-color: transparent;
}

.chart-series-line {
  -fx-stroke-width: 2;
}

.default-color0.chart-series-line {
  -fx-stroke: #0a84ff;
}

.default-color1.chart-series-line {
  -fx-stroke: #ff9f0a;
}

.default-color0.chart-line-symbol {
  -fx-background-color: #0a84ff;
  -fx-shape: "M440-800v487L216-537l-56 57 320 320 320-320-56-57-224 224v-487h-80Z";
  -fx-padding: 8;
}

.default-color1.chart-line-symbol {
  -fx-background-color: #ff9f0a;
  -fx-shape: "M440-160v-487L216-423l-56-57 320-320 320 320-56 57-224-224v487h-80Z";
  -fx-padding: 8;
}

.table-view .placeholder {
  -fx-background-image: url('image/empty-nest.png');
  -fx-background-position: 50% 50%;
  -fx-background-size: 50;
  -fx-background-repeat: no-repeat;
}

.table-view .column-header-background .label {
  -fx-alignment: center;
}

.table-row-cell:active-server {
  -fx-active-server-pulse-start: #2980b9;
  -fx-active-server-pulse-end: #1abc9c;
  -fx-font-weight: 700;
}

.table-row-cell:active-server:selected {
  -fx-background-color: -fx-selection-bar;
}
