<configuration debug="false">
  <property resource="application.properties" />
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight(%level) [%thread] %logger{5} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="${console.log.appender.name}" class="com.urbanspork.client.gui.console.Appender" />

  <logger name="io.netty" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>

  <logger name="com.urbanspork" additivity="false">
    <appender-ref ref="${console.log.appender.name}" />
    <appender-ref ref="STDOUT" />
  </logger>

  <root level="INFO">
    <appender-ref ref="${console.log.appender.name}" />
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
