@font-face {
    font-family: 'Fira Code';
    font-weight: 300;
    font-style: normal;
    src: url('font/ttf/FiraCode-Light.ttf');
}

@font-face {
    font-family: 'Fira Code';
    font-weight: 400;
    font-style: normal;
    src: url('font/ttf/FiraCode-Regular.ttf');
}

@font-face {
    font-family: 'Fira Code';
    font-weight: 500;
    font-style: normal;
    src: url('font/ttf/FiraCode-Medium.ttf');
}

@font-face {
    font-family: 'Fira Code';
    font-weight: 700;
    font-style: normal;
    src: url('font/ttf/FiraCode-Bold.ttf');
}

* {
    -fx-primary: #f8f8ff;
    -fx-secondary: derive(black, 90%);
    -fx-primarytext: #000000;
}

.root {
    -fx-font-family: "Fira Code";
    -fx-font-size: 12px;
}

.label {
    -fx-font-weight: 700;
    /* -fx-text-fill: #141111; */
}

.jfx-button {
    -fx-font-weight: 700;
    -fx-background-color: -fx-secondary;
    /* -fx-text-fill: -fx-primarytext; */
    /* -fx-border-color: -fx-primary; */
    -fx-text-alignment: center;
}

.jfx-list-view .jfx-list-cell:selected {
    -fx-font-weight: 700;
    /* -fx-background-color: #9e9e9e; */
    /* -fx-text-fill: -fx-primary; */
}

.jfx-list-view .scroll-bar:horizontal .track, .jfx-list-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.jfx-list-view .scroll-bar:horizontal .increment-button, .jfx-list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.jfx-list-view .scroll-bar:vertical .increment-button, .jfx-list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.jfx-list-view .scroll-bar .increment-arrow, .jfx-list-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.jfx-list-view .scroll-bar:horizontal .thumb, .jfx-list-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

#logTextArea {
    -fx-font-size: 13px;
    -fx-background-color: #000000;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #00ff00;
}