/** Source Han Sans */

@font-face {
    font-family: 'Source Han Sans SC';
    font-weight: 500;
    src: url('font/otf/SourceHanSansSC-Regular.otf');
}

@font-face {
    font-family: 'Source Han Sans SC';
    font-weight: 700;
    src: url('font/otf/SourceHanSansSC-Bold.otf');
}

/** Source Han Serif */

@font-face {
    font-family: 'Source Han Serif SC';
    font-weight: 500;
    src: url('font/otf/SourceHanSerifSC-Regular.otf');
}

@font-face {
    font-family: 'Source Han Serif SC';
    font-weight: 700;
    src: url('font/otf/SourceHanSerifSC-Medium.otf');
}

/** Ubuntu Mono */

@font-face {
    font-family: 'Ubuntu Mono';
    font-weight: 500;
    src: url('font/ttf/UbuntuMono-R.ttf');
}

@font-face {
    font-family: 'Ubuntu Mono';
    font-weight: 700;
    src: url('font/ttf/UbuntuMono-B.ttf');
}

* {
    -fx-primary-color: #f8f8ff;
    -fx-secondary-color: derive(black, 90%);
    -fx-primary-text: #000000;
}

.root {
    -fx-font-family: 'Source Han Serif SC';
}

.label {
    -fx-font-family: 'Source Han Sans SC';
}

.tab-pane .tab-header-area {
    /* -fx-font-family: 'Source Han Sans SC'; */
    -fx-font-weight: 700;
}

.jfx-button {
    -fx-font-family: 'Source Han Sans SC';
    -fx-font-weight: 700;
    -fx-background-color: -fx-secondary-color;
    -fx-text-fill: -fx-primary-text;
    -fx-border-color: -fx-primary-color;
    -fx-text-alignment: center;
}

.hide-show.toggle-button {
    -fx-background-image: url("image/eye.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: 100% 50%;
}

.hide-show.toggle-button:selected {
    -fx-background-image: url("image/eye-close.png")
}

.list-view {
    -fx-border-color: #d3d3d3;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.list-view:focused {
    -fx-background-color: transparent, white, transparent, white;
}

.list-view .list-cell:selected {
    -fx-font-weight: 700;
}

.jfx-list-view .scroll-bar:horizontal .track, .jfx-list-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.jfx-list-view .scroll-bar:horizontal .increment-button, .jfx-list-view .scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.jfx-list-view .scroll-bar:vertical .increment-button, .jfx-list-view .scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.jfx-list-view .scroll-bar .increment-arrow, .jfx-list-view .scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.jfx-list-view .scroll-bar:horizontal .thumb, .jfx-list-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.text-area {
    -fx-font-family: 'Ubuntu Mono';
    -fx-font-weight: bold;
    -fx-font-size: 14px;
    -fx-highlight-fill: #00ff00;
    -fx-text-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-background-insets: 0;
    -fx-background-color: transparent, white, transparent, white;
}

.text-area:focused {
    -fx-background-color: transparent, white, transparent, white;
}

.text-area .content {
    -fx-background-color: #000000;
}