* {
    -fx-primary: #f8f8ff;
    -fx-secondary: #708090;
    -fx-primarytext: #000000;
}

/* .root {
    -fx-background-image: url("background.jpg");
}
 */

.label {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: #141111;
    /* -fx-effect: dropshadow( gaussian, rgba(255, 255, 255, 0.5), 0, 0, 0, 1); */
}

.button {
    -fx-text-fill: -fx-primarytext;
    -fx-background-color: -fx-secondary;
    -fx-border-color: -fx-primary;
    -fx-font-size: 12px;
    -fx-text-alignment: center;
}

#logTextArea {
    -fx-background-color: #000000;
    -fx-font-family: Consolas;
    -fx-font-size: 13;
    -fx-highlight-fill: #00ff00;
    -fx-highlight-text-fill: #000000;
    -fx-text-fill: #00ff00;
}