<configuration debug="false">
  <property name="defaultPattern" value="%d{yyyy-MM-dd HH:mm:ss} %highlight(%level) [%thread] %logger{5} - %msg%n"/>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
  </appender>
  <appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>logs/server.log</file>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>logs/server.%d{yyyy-MM-dd}.log.zip</fileNamePattern>
      <maxHistory>7</maxHistory>
      <maxFileSize>500MB</maxFileSize>
      <totalSizeCap>1GB</totalSizeCap>
      <cleanHistoryOnStart>true</cleanHistoryOnStart>
    </rollingPolicy>
    <encoder>
      <pattern>${defaultPattern}</pattern>
    </encoder>
  </appender>

  <logger name="io.netty" level="DEBUG"/>
  <logger name="io.netty.handler.ssl" level="INFO"/>
  <logger name="com.urbanspork" level="INFO"/>

  <root level="WARN">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="ROLLING"/>
  </root>
</configuration>